<!-- services container -->
<div class="container "> 
    <!-- <div class="services"> -->
    <div class="row index-services">
    
        <!-- web development -->
        <div class="col s12 m6 wow slideInUp index-big-cards pull-m2">
            <div class="card">
                <div class="card-content">
                    <h4><b><%= services.Website.title %></b><i class="material-icons blue-text right">web</i> </h4>
                    <p><%= services.Website.description %></p>
                    <hr>
                    <a href="/services#website">
                        <input type="button" class="btn-small right white-text" value="Read More">
                    </a>
                </div> 
            </div>
        </div>

        <!-- apps development -->
        <div class="col s12 m6 wow slideInUp index-big push-m1" id="apps">
            <div class="card">
                <div class="card-content">
                    <h4><b><%= services.AppDev.title %></b><i class="material-icons blue-text right">phone_iphone</i> </h4>
                    <p><%= services.AppDev.description %></p>
                    <hr>
                    <a href="/services#apps">
                        <input type="button" class="btn-small right white-text" value="Read More">
                    </a>
                </div>
            </div>
        </div>
        
        <!-- ICT Development -->
        <div class="col s12 m6 wow slideInUp index-big pull-m2">
            <div class="card">
                <div class="card-content">
                    <h4><b><%= services.ICT.title %><i class="material-icons blue-text right">web</i></b></h4>
                    <p><%= services.ICT.description %></p>
                    <hr>
                    <a href="/services#ICT">
                        <input type="button" class="btn-small right white-text" value="Read More">
                    </a>
                </div>
            </div>
        </div>
        
        <!-- Digital Marketing -->
        <div class="col s12 m6 wow slideInUp index-big push-m1">
            <div class="card">
                <div class="card-content">
                    <h4><b><%= services.DigitalMkt.title %></b><i class="material-icons blue-text right">phone_iphone</i> </h4>
                    <p><%= services.DigitalMkt.description %></p>
                    <hr>
                    <a href="/services#dgmkt">
                        <input type="button" class="btn-small right white-text" value="Read More">
                    </a>
                </div>
            </div>
        </div>

        <!-- MUltimedia -->
        <div class="col s12 m6 wow slideInUp index-big pull-m2">
            <div class="card">
                <div class="card-content">
                    <h4><b><%= services.Multimedia.title %><i class="material-icons blue-text right">web</i></b></h4>
                    <p><%= services.Multimedia.description %></p>
                    <hr>
                    <a href="/services#multi">
                        <input type="button" class="btn-small right white-text" value="Read More">
                    </a>
                </div>
            </div>
        </div>

        <!-- Incuabtion HUB -->
        <div class="col s12 m6 wow slideInUp index-big push-m1">
            <div class="card">
                <div class="card-content">
                    <h4><b><%= services.Inncubation.title %></b><i class="material-icons blue-text right">phone_iphone</i> </h4>
                    <p><%= services.Inncubation.description %></p>
                    <hr>
                    <a href="/services#innc">
                        <input type="button" class="btn-small orange right" value="Read More">
                    </a>
                </div>
            </div>
        </div>

    </div> <!-- end main row class -->
<!--</div>  end of services class-->
</div> <!--  end of container class -->
 
    


