<!-- services container -->
<div class="container "> 
    <!-- <div class="services"> -->
    <div class="row services">
    
        <!-- web development -->
        <div class="col s12 m6 l6 wow slideInUp pull-l1">
            <div class="card">
                <div class="card-content">
                        <h4><%= services.Website.title %><i class="material-icons blue-text right">web</i> </h4>
                        <p><%= services.Website.description %></p>
                    <hr>
                    <input type="button" class="btn-small right white-text" value="Read More">
                </div>
            </div>
        </div>

        <!-- apps development -->
        <div class="col s12 m6 l6 wow slideInUp push-l1">
            <div class="card">
                <div class="card-content">
                    <h4><%= services.AppDev.title %><i class="material-icons blue-text right">phone_iphone</i> </h4>
                    <p><%= services.AppDev.description %></p>
                    <hr>
                    <input type="button" class="btn-small right white-text" value="Read More">
                </div>
            </div>
        </div>
        
        <!-- Games Development -->
        <div class="col s12 m6 l6 wow slideInUp pull-l1">
            <div class="card">
                <div class="card-content">
                    <h4><%= services.GameDev.title %><i class="material-icons blue-text right">games</i> </h4>
                    <p><%= services.GameDev.description %></p>
                    <hr>
                    <input type="button" class="btn-small right white-text" value="Read More">
                </div>
            </div> 
        </div>
        
        <!-- company analysis -->
        <div class="col s12 m6 l6 wow slideInUp push-l1">
            <div class="card">
                <div class="card-content">
                    <h4><%= services.CompanyAnalysis.title %><i class="material-icons blue-text right">details</i> </h4>
                    <p><%= services.CompanyAnalysis.description %></p>
                    <hr>
                    <input type="button" class="btn-small right white-text" value="Read More">
                </div>
            </div>
        </div>
    </div> <!-- end main row class -->
<!--</div>  end of services class-->
</div> <!--  end of container class -->
 
    