<!-- services container -->
<!-- <div class="container">  -->
        <div class="row services" id="main-services">
            <!-- web development -->
            <div class="row">
                <div class="col s12  l6 wow slideInLeft push-l1">
                    <div class="card">
                        <div class="card-content">
                            <h4><%= services.Website.title %><i class="material-icons blue-text right">web</i> </h4>
                            <p><%= services.Website.description %></p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div>
                </div>
                <div class="col s12 l6 wow fadeIn right right-services-content-text" data-wow-delay="0.5s">
                    <div class="container">
                        <h4><%= services.Website.title %></h4>
                        <p><%= services.Website.description %></p>
                    </div>
                </div>
            </div>
            
            <!-- apps development -->
            <div class="row">
                <div class="col s12 l6 push-m2  wow slideInRight right">
                    <div class="card">
                        <div class="card-content">
                            <h4><%= services.AppDev.title %><i class="material-icons blue-text right">phone_iphone</i> </h4>
                            <p><%= services.AppDev.description %></p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div>
                </div>
                <div class="col s12 l6 wow fadeIn left left-services-content-text" data-wow-delay="0.5s">
                    <div class="container">
                        <h4><%= services.AppDev.title %></h4>
                        <p><%= services.AppDev.description %></p>
                    </div>
                </div>
            </div>
            
            <!-- Games Development -->
            <div class="row">
                <div class="col s12 l6 wow slideInLeft push-l1">
                    <div class="card">
                        <div class="card-content">
                            <h4><%= services.GameDev.title %><i class="material-icons blue-text right">games</i> </h4>
                            <p><%= services.GameDev.description %></p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div> 
                </div>
                <div class="col s12 l6 wow fadeIn right right-services-content-text" data-wow-delay="0.5s">
                    <div class="container">
                        <h4><%= services.GameDev.title %></h4>
                        <p><%= services.GameDev.description %></p>
                    </div>
                </div>
            </div>
            
            <!-- company analysis -->
            <div class="row">
                <div class="col s12 l6 push-m2  wow slideInRight right">
                    <div class="card">
                        <div class="card-content">
                            <h4><%= services.CompanyAnalysis.title %><i class="material-icons blue-text right">details</i> </h4>
                            <p><%= services.CompanyAnalysis.description %></p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div>
                </div>
                <div class="col s12 l6 wow fadeIn left left-services-content-text" data-wow-delay="0.5s">
                    <div class="container">
                        <h4><%= services.CompanyAnalysis.title %></h4>
                        <p><%= services.CompanyAnalysis.description %></p>
                    </div>
                </div>
            </div>

            <!-- Games Development -->
            <div class="row">
                <div class="col s12 l6 wow slideInLeft push-l1">
                    <div class="card">
                        <div class="card-content">
                                <h4><%= services.GameDev.title %><i class="material-icons blue-text right">games</i> </h4>
                                <p><%= services.GameDev.description %></p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div> 
                </div>
                <div class="col s12 l6 wow fadeIn right right-services-content-text" data-wow-delay="0.5s">
                    <div class="container">
                        <h4><%= services.GameDev.title %></h4>
                        <p><%= services.GameDev.description %></p>
                    </div>
                </div>
            </div>
        </div><!-- end of row class -->
<!--</div> end of container class -->