<!-- services container -->
<!-- <div class="container">  -->
        <div class="row services" id="main-services">
           
           <div class="col s12 l12">
               <!-- tabs section -->
                <ul class="tabs hide-on-med-and-down">
                    <li class="tab col s2">
                        <a href="#website" class="indigo-text text-darken-4">Website</a>
                    </li>
                    <li class="tab col s2">
                        <a href="#apps" class="indigo-text text-darken-4">Apps</a>
                    </li>
                    <li class="tab col s2">
                        <a href="#ICT" class="indigo-text text-darken-4">ICT</a>
                    </li>
                    <li class="tab col s2">
                        <a href="#dgmkt" class="indigo-text text-darken-4">Digital Marketing</a>
                    </li>
                    <li class="tab col s2">
                        <a href="#multi" class="indigo-text text-darken-4">Multimedia</a>
                    </li>
                    <li class="tab col s2">
                        <a href="#innc" class="indigo-text text-darken-4">Inncubation Hub</a>
                    </li>
                    <li class="tab col s2">
                        <a href="#inno" class="indigo-text text-darken-4">Innovation Hub</a>
                    </li>
                </ul>

            <!-- web development -->
            <div class="services_contents" id="website">
                <div class="col s12 m6 wow slideInLeft big-card" >
                    <div class="card">
                        <div class="card-content">
                            <h4><b><%= services.Website.title %><i class="material-icons blue-text right">web</i></b></h4>
                            <h5><b><%= services.Website.sub_title %></b></h5>
                            <p><%= services.Website.description %></p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 wow fadeIn small-cards" data-wow-delay="0.5s">
                    <div class="row">
                        <div class="col s6 m3 general">
                            <div class="card ">
                                <h6><b><%= services.Website.right_web_heading1 %></b></h6>
                                <p><%= services.Website.right_web_content1 %></p>
                            </div>
                        </div>
                        <div class="col s6 m3 push-m3 general">
                            <div class="card">
                                <h6 ><b><%= services.Website.right_web_heading2 %></b></h6>
                                <p><%= services.Website.right_web_content2 %></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 m3 general">
                            <div class="card">
                                <h6 ><b><%= services.Website.right_web_heading3 %></b></h6>
                                <p><%= services.Website.right_web_content3 %></p>
                            </div>
                        </div>
                        <div class="col s6 m3 push-m3 general">
                            <div class="card">
                                <h6 ><b><%= services.Website.right_web_heading4 %></b></h6>
                                <p><%= services.Website.right_web_content4 %></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 m3 general">
                            <div class="card">
                                <h6 ><b><%= services.Website.right_web_heading5 %></b></h6>
                                <p><%= services.Website.right_web_content5 %></p>
                            </div>
                        </div> 
                    </div>
                </div> 
            </div>
            
            <!-- apps development -->
            <div class="services_contents" id="apps">
                <div class="col s12 m6 wow slideInLeft big-card" >
                    <div class="card">
                        <div class="card-content">
                            <h4><b><%= services.AppDev.title %></b><i class="material-icons blue-text right">phone_iphone</i> </h4>
                            <h5><b><%= services.AppDev.sub_title %></b></h5>
                            <p><%= services.AppDev.description %></p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 wow fadeIn small-cards" data-wow-delay="0.5s"> 
                    <div class="row">
                        <div class="col s6 m3 general">
                            <div class="card">
                                <h6><b><%= services.AppDev.right_app_heading1 %></b></h6>
                                <p><%= services.AppDev.right_app_content1 %></p>
                            </div>
                        </div>
                        <div class="col s6 m3 push-m3 general">
                            <div class="card">
                                <h6 ><b><%= services.AppDev.right_app_heading2 %></b></h6>
                                <p><%= services.AppDev.right_app_content2 %></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 m3 general">
                            <div class="card">
                                <h6 ><b><%= services.AppDev.right_app_heading3 %></b></h6>
                                <p><%= services.AppDev.right_app_content3 %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ICT -->
            <div class="services_contents" id="ICT">
                <div class="col s12 m6 wow slideInLeft big-card" >
                    <div class="card">
                        <div class="card-content">
                            <h4><b><%= services.ICT.title %><i class="material-icons blue-text right">web</i></b></h4>
                            <h5><b><%= services.ICT.sub_title %></b></h5>
                            <p><%= services.ICT.description %></p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 wow fadeIn small-cards" data-wow-delay="0.5s">
                    <div class="row">
                        <div class="col s6 m3 general">
                            <div class="card">
                                <h6><b><%= services.ICT.right_ICT_heading1 %></b></h6>
                                <p><%= services.ICT.right_ICT_content1 %></p>
                            </div>
                        </div>
                        <div class="col s6 m3 push-m3 ICT-sec-child">
                            <div class="card">
                                <h6 ><b><%= services.ICT.right_ICT_heading2 %></b></h6>
                                <p><%= services.ICT.right_ICT_content2.bullet1 %></p>
                                <p><%= services.ICT.right_ICT_content2.bullet2 %></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 m3 ICT-thr-child">
                            <div class="card">
                                <h6 ><b><%= services.ICT.right_ICT_heading3 %></b></h6>
                                <p><%= services.ICT.right_ICT_content3.bullet3 %></p>
                                <p><%= services.ICT.right_ICT_content3.bullet4 %></p>
                                <p><%= services.ICT.right_ICT_content3.bullet5 %></p>
                                <p><%= services.ICT.right_ICT_content3.bullet6 %></p>
                            </div>
                        </div>
                        <div class="col s6 m3 push-m3 ICT-fif-child">
                            <div class="card">
                                <h6 ><b><%= services.ICT.right_ICT_heading4 %></b></h6>
                                <p><%= services.ICT.right_ICT_content4.bullet7 %></p>
                                <p><%= services.ICT.right_ICT_content4.bullet8 %></p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <!-- Digital Marketing -->
            <div class="services_contents" id="dgmkt">
                <div class="col s12 m6 wow slideInLeft big-card">
                    <div class="card">
                        <div class="card-content">
                            <h4><b><%= services.DigitalMkt.title %></b><i class="material-icons blue-text right">phone_iphone</i> </h4>
                            <h5><b><%= services.DigitalMkt.sub_title %></b></h5>
                            <p><%= services.DigitalMkt.description %></p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 wow fadeIn small-cards" data-wow-delay="0.5s">
                    <div class="row">
                        <div class="col s6 m3 general">
                            <div class="card">
                                <h6><b><%= services.DigitalMkt.right_dm_heading1 %></b></h6>
                                <p><%= services.DigitalMkt.right_dm_content1 %></p>
                            </div>
                        </div>
                        <div class="col s6 m3 push-m3 general">
                            <div class="card">
                                <h6 ><b><%= services.DigitalMkt.right_dm_heading2 %></b></h6>
                                <p><%= services.DigitalMkt.right_dm_content2 %></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 m3 general">
                            <div class="card">
                                <h6 ><b><%= services.DigitalMkt.right_dm_heading3 %></b></h6>
                                <p><%= services.DigitalMkt.right_dm_content3 %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Multimedia -->
            <div class="services_contents" id="multi">
                <div class="col s12 m6 wow slideInLeft big-card">
                    <div class="card">
                        <div class="card-content">
                            <h4><b><%= services.Multimedia.title %><i class="material-icons blue-text right">web</i></b></h4>
                            <h5><b><%= services.Multimedia.sub_title %></b></h5>
                            <p><%= services.Multimedia.description %></p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 wow fadeIn small-cards" data-wow-delay="0.5s">
                    <div class="row">
                        <div class="col s6 m3 general">
                            <div class="card">
                                <h6><b><%= services.Multimedia.right_mul_heading1 %></b></h6>
                                <p><%= services.Multimedia.right_mul_content1 %></p>
                            </div>
                        </div>
                            <div class="col s6 m3 push-m3 general">
                            <div class="card">
                                <h6 ><b><%= services.Multimedia.right_mul_heading2 %></b></h6>
                                <p><%= services.Multimedia.right_mul_content2 %></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 m3 general">
                            <div class="card">
                                <h6 ><b><%= services.Multimedia.right_mul_heading3 %></b></h6>
                                <p><%= services.Multimedia.right_mul_content3 %></p>
                            </div>
                        </div>
                        <div class="col s6 m3 push-m3 general">
                            <div class="card">
                                <h6 ><b><%= services.Multimedia.right_mul_heading4 %></b></h6>
                                <p><%= services.Multimedia.right_mul_content4 %></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 m3 general">
                            <div class="card">
                                <h6 ><b><%= services.Website.right_web_heading5 %></b></h6>
                                <p><%= services.Website.right_web_content5 %></p>
                            </div>
                        </div> 
                    </div>
                </div> 
            </div>

            <!-- Incuabtion HUB -->
            <div class="services_contents" id="innc">
                <div class="col s12 m6 wow slideInLeft big-card">
                    <div class="card">
                        <div class="card-content">
                            <h4><b><%= services.Inncubation.title %></b><i class="material-icons blue-text right">phone_iphone</i> </h4>
                            <h5><b><%= services.Inncubation.sub_title %></b></h5>
                            <p><%= services.Inncubation.description %></p>
                            <hr>
                            <input type="button" class="btn-small orange right" value="Read More">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 wow fadeIn small-cards right" data-wow-delay="0.5s">
                    <div class="row">
                        <div class="col s6 m3 general">
                            <div class="card ">
                                <h6><b><%= services.Inncubation.right_innc_heading1 %></b></h6>
                                <p><%= services.Inncubation.right_innc_content1 %></p>
                            </div>
                        </div>
                        <div class="col s6 m3 push-m3 Innc-sec-child">
                            <div class="card">
                                <h6 ><b><%= services.Inncubation.right_innc_heading2 %></b></h6>
                                <p><%= services.Inncubation.right_innc_content2.bullet1 %></p>
                                <p><%= services.Inncubation.right_innc_content2.bullet2 %></p>
                                <p><%= services.Inncubation.right_innc_content2.bullet3 %></p>
                                <p><%= services.Inncubation.right_innc_content2.bullet4 %></p>
                                <p><%= services.Inncubation.right_innc_content2.bullet5 %></p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div> <!-- end of main services class -->
            
</div><!-- end of row class -->
<!--</div> end of container class -->