<html lang="en">
   
<head>
    <% include partials/template/head.ejs %>
</head>
<body id="<%= pageID %>">
    <!-- header template-->
    <% include partials/template/header.ejs %>

    <div class="container comp_profile_text">
        <h5 class="about"><b>Company Profile</b></h5>
        <% aboutDt.forEach(function(item){ %>
            <p><%= item.company_profile %></p>
            <p class="hide-on-small-only"><%= item.more_profile %></p>
        <% }); %>
    </div>
    <div class="row aboutCards">
            <!-- <h2 class="center">Know our interest</h2>
            <h3 class="center">we are focused in pushing towards our goals</h3> -->
            <div class="col s12 l3 wow flipInY" data-wow-delay="0.8s">
                <div class="card">
                    <div class="card-content">
                        <i class="fas fa-bullseye"></i>
                        <h4 class="center"><b>Mission</b></h4>
                        <!-- loading the mission data-->
                        <% aboutDt.forEach(function(item){ %>
                            <p><%= item.mission %></p>
                        <% }); %>
                    </div>
                </div>
            </div>
            <div class="col s12 l3 wow flipInY" data-wow-delay="1.2s">
                <div class="card">
                    <div class="card-content">
                        <i class="fas fa-eye"></i>
                        <h4 class="center"><b>Vision</b></h4>
                        <!-- loading the vision data -->
                        <% aboutDt.forEach(function(item){ %>
                            <p><%= item.vision %></p>
                        <% }); %>
                    </div>
                </div>
            </div>
            <div class="col s12 l3 wow flipInY" data-wow-delay="1.6s">
                <div class="card">
                    <div class="card-content">
                        <i class="fas fa-file-alt"></i>
                        <h4 class="center"><b>Values</b></h4>
                        <!-- loasding the values data -->
                        <% aboutDt.forEach(function(item){ %>
                            <p><%= item.values %></p>
                        <% }); %>
                    </div>
                </div>
            </div>
            <div class="col s12 l3 wow flipInY" data-wow-delay="2s">
                <div class="card">
                    <div class="card-content">
                        <i class="material-icons white-text">event_note</i>
                        <h4 class="center"><b>Objective</b></h4>
                        <!-- loading the objective data -->
                        <% aboutDt.forEach(function(item){ %>
                            <p><%= item.objective %></p>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div> <!-- end of about cards -->
        <div class="container">
            <div class="row">
                <div class="col m2 l4 bg-of-soft-team hide-on-small-only">
                    <img src="/images/stf4.png" alt="soft-team-pic">
                </div>
                <div class="col s12 m8 l8 push-m3 push-l1">
                    <h5 class="about"><b>Background of the Software Team</b></h5>
                    <!-- loading the background data -->
                    <% aboutDt.forEach(function(item){ %>
                        <p><%= item.background_of_softTeam %></p>
                    <% }); %>
                </div>
            </div>
        </div> <!-- end of background of the software team-->
        <div class="container">
            <h5 class="about"><b>Status</b></h5>
            <!-- loading the current status data -->
            <% aboutDt.forEach(function(item){ %>
                <p><%= item.current_status %></p>
            <% }); %>
        </div> <!-- end of current status -->
        <div class="container">
            <div class="row">
                <div class="col m2 l4 aboutImgs hide-on-small-only">
                    <img src="/images/what-we-do.png" alt="what-we-do-icon">
                </div>
                <div class="col s12 m10 l8 push-m1 push-l1">
                    <h5 class="about"><b>What we do</b></h5>
                    <!-- loading the brief services data -->
                    <% aboutDt.forEach(function(item){ %>
                        <p><%= item.intro_of_services %></p>
                    <% }); %>
                </div>
            </div>
        </div> <!-- end of brief intro of the sevices-->


      <!-- including the js scripts template -->
      <% include partials/template/jsscripts.ejs %>
</body>
    <!-- including the footer template -->
    <% include partials/template/footer.ejs %>
</html>